<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<style>
    body {
        margin: 0;
        font-family: Consolas;
        background-image: url('home-background.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 100%;
    }
</style>

<body>
    <%- include('./partials/topnav') -%>

    <div style="padding-left:16px">
        <p><b>pinto cu bosta mijo</b></p>
    </div>
</body>

</html>