<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
</head>

<style>
    body {
        margin: 0;
        margin-block-start: 0;
        font-size: larger;
        font-family: Consolas;
        color: #eaf3da;
        background-color: #150c25;
    }

    div.roles {
        margin: auto;
        padding: 16px 16px;
        width: 80%;
        display: flex;
    }

    div.image {
        margin: auto 20px;
    }

    div.right {
        text-align: right;
    }

    div.left {
        text-align: left;
    }

    div.title {
        font-size: larger;
        text-align: center;
    }
</style>

<body>
    <%- include('./partials/topnav') -%>

        <div style="padding: 30px 10%;">
            <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at elit arcu. Phasellus id mi sed sem
                condimentum fringilla ac in felis. Nunc ornare mattis fermentum. Sed porta faucibus risus et
                scelerisque. Phasellus condimentum congue efficitur. Quisque eu risus sed elit malesuada lobortis at
                vitae dolor. Morbi in nulla sodales, luctus nibh sit amet, pulvinar nulla. Aenean aliquet tristique
                diam in eleifend. Mauris imperdiet ligula condimentum lectus imperdiet ultricies.</a>
        </div>
        <div class="roles">
            <div class="image">
                <img src="Icon.png" alt="role-name" height="128" width="128">
            </div>
            <div class="left">
                <div class="title">
                    <a>Role name</a>
                </div>
                <a>Integer euismod massa ac risus consequat placerat. Nullam convallis, velit
                    ultricies
                    efficitur interdum,
                    ligula tortor euismod quam, hendrerit pellentesque mi eros vel lectus. Pellentesque efficitur mi nec
                    vestibulum consectetur. Curabitur ullamcorper libero urna, vitae fermentum ipsum sodales eget. Ut
                    nec
                    lacus in tellus facilisis lobortis. Curabitur ac eleifend eros. Praesent vel lacus tellus. Nam sed
                    bibendum diam. Praesent aliquam posuere ante, eget porta mi congue id. Vivamus sollicitudin, nulla
                    sit
                    amet tempus venenatis, ex magna convallis odio, sit amet efficitur turpis dui at eros. Lorem ipsum
                    dolor
                    sit amet, consectetur adipiscing elit. Mauris malesuada sem arcu, sed consectetur sem tincidunt
                    id.</a>
            </div>
        </div>
        <div class="roles">
            <div class="right">
                <div class="title">
                    <a>Role name</a>
                </div>
                <a>Cras at vestibulum turpis. Ut pellentesque eros eu tellus iaculis dictum. Sed
                    euismod sapien aliquam tellus varius, at interdum tellus mattis. In interdum velit mi, vel
                    scelerisque risus aliquet et. Donec id nisl commodo, maximus urna et, tristique ligula. Nunc dolor
                    justo, pellentesque gravida congue sed, mattis vel odio. Donec gravida neque non dui laoreet, eget
                    hendrerit ex viverra. Vestibulum ac mollis ligula.</a>
            </div>
            <div class="image">
                <img src="Icon.png" alt="role-name" height="128" width="128">
            </div>
        </div><div class="roles">
            <div class="image">
                <img src="Icon.png" alt="role-name" height="128" width="128">
            </div>
            <div class="left">
                <div class="title">
                    <a>Role name</a>
                </div>
                <a>Vivamus lobortis posuere nibh non aliquet. Vivamus tincidunt bibendum felis. Suspendisse eu ornare augue. Fusce non viverra odio, ac gravida nisi. Pellentesque placerat urna neque, vel aliquam tellus pretium et. Pellentesque molestie, mauris in vestibulum tincidunt, nisl diam scelerisque erat, sit amet interdum magna erat sed magna. Donec ac lectus non nisl sollicitudin scelerisque vulputate vel tellus.</a>
            </div>
        </div>
        <div class="roles">
            <div class="right">
                <div class="title">
                    <a>Role name</a>
                </div>
                <a>Maecenas maximus dignissim diam, et lobortis orci iaculis nec. Integer nec dictum orci. Etiam rhoncus porta eleifend. Donec at augue quis magna maximus congue. Pellentesque massa tellus, fermentum in augue in, consequat vestibulum velit. Etiam orci dolor, cursus quis posuere eget, gravida vitae nunc. Nulla dictum lacus quis molestie tincidunt. Sed luctus mauris id arcu blandit, sed sodales mauris consectetur. Sed bibendum eget metus ac hendrerit. Nam hendrerit orci sed elementum aliquet. Phasellus eu metus sapien.</a>
            </div>
            <div class="image">
                <img src="Icon.png" alt="role-name" height="128" width="128">
            </div>
        </div><div class="roles">
            <div class="image">
                <img src="Icon.png" alt="role-name" height="128" width="128">
            </div>
            <div class="left">
                <div class="title">
                    <a>Role name</a>
                </div>
                <a>Etiam sit amet placerat risus. Quisque accumsan lacus arcu, at placerat lorem tempus et. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Duis nisl nisl, consectetur eu leo sed, dapibus semper lorem. Donec hendrerit risus nulla, sit amet pellentesque nulla tempor a. Curabitur nisi lectus, interdum nec condimentum ultricies, cursus in tellus. Morbi ultricies id augue eget dignissim. Proin maximus ut risus nec luctus. Quisque tempus pharetra maximus. Morbi nec orci nisl. Donec convallis gravida eros non interdum. Nullam hendrerit lorem nec dignissim consectetur. Proin dolor quam, placerat ut venenatis eu, consectetur a ex.</a>
            </div>
        </div>
        <div class="roles">
            <div class="right">
                <div class="title">
                    <a>Role name</a>
                </div>
                <a>Morbi ullamcorper ac odio a dapibus. Aenean aliquet quam a varius ultricies. Donec dolor leo, vestibulum ut porttitor ut, volutpat at risus. Aliquam egestas tellus non arcu viverra congue. Cras facilisis, velit nec malesuada scelerisque, lorem augue accumsan dolor, ut dictum erat dolor sit amet mi. Aliquam eget vehicula purus. Fusce lobortis congue porttitor. Vivamus eget odio quis risus tempor placerat. Cras at tincidunt odio, vehicula ultricies urna. Ut fermentum finibus orci, id aliquam nisl. Vivamus ut justo non leo suscipit viverra. Nullam eget odio lectus. Pellentesque purus magna, sagittis eget libero eu, mollis interdum urna. Nam tempus scelerisque porttitor.</a>
            </div>
            <div class="image">
                <img src="Icon.png" alt="role-name" height="128" width="128">
            </div>
        </div><div class="roles">
            <div class="image">
                <img src="Icon.png" alt="role-name" height="128" width="128">
            </div>
            <div class="left">
                <div class="title">
                    <a>Role name</a>
                </div>
                <a>Curabitur eget sapien vel purus ornare mollis. Donec mi arcu, sollicitudin ac est quis, ullamcorper posuere nisl. Praesent eget molestie arcu, volutpat mollis justo. Quisque ante erat, porta eget dui id, gravida laoreet sem. Vestibulum mollis justo lorem, eget molestie augue faucibus ut. Proin sollicitudin urna id aliquam malesuada. Proin ut auctor sapien, sed sodales tellus. Aliquam gravida mauris at purus ultricies accumsan. Etiam et elementum nibh, id cursus massa. Duis mollis, enim viverra venenatis luctus, est nisi consequat turpis, eu commodo nisi dui ac lacus. Donec congue a risus eget porta.</a>
            </div>
        </div>
        <div class="roles">
            <div class="right">
                <div class="title">
                    <a>Role name</a>
                </div>
                <a>Nam imperdiet orci sit amet dignissim scelerisque. Cras fringilla hendrerit quam, in eleifend urna porttitor fringilla. Aliquam erat volutpat. Praesent nec congue tortor. Phasellus laoreet nisi in enim placerat venenatis. Proin rutrum lacus sed convallis luctus. Phasellus sit amet lorem non magna cursus mollis sit amet eu massa. Etiam eget feugiat elit. Nullam lacinia hendrerit tortor, imperdiet feugiat tellus pellentesque vitae. Vivamus facilisis a enim vitae mollis.</a>
            </div>
            <div class="image">
                <img src="Icon.png" alt="role-name" height="128" width="128">
            </div>
        </div><div class="roles">
            <div class="image">
                <img src="Icon.png" alt="role-name" height="128" width="128">
            </div>
            <div class="left">
                <div class="title">
                    <a>Role name</a>
                </div>
                <a>Pellentesque efficitur bibendum elit faucibus suscipit. Praesent pharetra nec ex id convallis. Curabitur dolor eros, egestas vitae vulputate sit amet, vestibulum vel odio. Nulla ultrices leo eu orci pharetra, a tristique magna ultricies. Quisque feugiat quis tortor a accumsan. Vivamus tempor suscipit purus, a hendrerit ante posuere nec. Duis porta massa id suscipit luctus.</a>
            </div>
        </div>
        <div class="roles">
            <div class="right">
                <div class="title">
                    <a>Role name</a>
                </div>
                <a>Quisque rhoncus, justo id semper porta, mauris risus lobortis orci, vel suscipit elit neque in nunc. Nam placerat dapibus felis eu tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas dignissim felis, at mattis ex luctus rhoncus. Sed ut est nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum id accumsan quam, in ultrices justo. Nam non mauris efficitur, viverra leo non, rutrum sem. Integer elementum, justo eget eleifend placerat, augue felis eleifend purus, ac rutrum dolor erat nec lorem. Vivamus id pharetra erat. Ut a nisi consequat, euismod nulla quis, finibus felis. Cras efficitur hendrerit molestie. Sed dignissim, massa sed tempor mollis, lorem nunc ullamcorper ante, sit amet pharetra purus felis eget turpis.</a>
            </div>
            <div class="image">
                <img src="Icon.png" alt="role-name" height="128" width="128">
            </div>
        </div>
</body>

</html>