<style>
    .topnav {
        overflow: hidden;
        background-color: #000;
    }

    .topnav img {
        float: left;
        padding: 9px 8px 8px 9px;
    }

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 20px 22px;
        text-decoration: none;
        font-size: 20px;
    }

    .topnav a:hover {
        background-color: #222;
    }

    .topnav a.active {
        float: right;
        background-color: #3e236e;
    }

    .topnav a.active:hover {
        background-color: #522e92;
    }

    .topnav a.img {
        padding: 0px 0px;
    }
</style>

<div class="topnav">
    <a class="img" href="/"><img src="Icon.png" alt="Werewolf" height="46" width="46"></a>
    <a class="active" href="/auth"><b>Jogar</b></a>
    <a href="/instructions"><b>Instruções</b></a>
    <a href="/docs"><b>Documentação</b></a>
</div>